

article,section,time,aside{display:block;}
body{
  background: radial-gradient(circle at 14.84% 14.85%, #1599e6, #4fd0ff 100%),radial-gradient(circle at 79% 21.48%, #4fd0ff, #1599e6 100%),radial-gradient(circle at 50% 50%, #1599e6, #4fd0ff 100%) repeat scroll 0% 0%;
  background: -webkit-radial-gradient(circle at 14.84% 14.85%, #1599e6, #4fd0ff 100%),-webkit-radial-gradient(circle at 79% 21.48%, #4fd0ff, #1599e6 100%),-webkit-radial-gradient(circle at 50% 50%, #1599e6, #4fd0ff 100%) repeat scroll 0% 0%;
}
.navbar-brand{
  margin-top:2%;
}
.brand{
  height: 32px;
  margin-top: 8px;
  margin-left: 5px;
}
.point-time {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 17px;
  left: 20%;
  background: #1c87bf;
  margin-left: -4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}
.text-white{
  color: #FFFFFF;
}
.text-red {
  color: #f6393f;
}

.text-blue {
  color: #1c87bf;
}

.text-green {
  color: #95c91e;
}

.text-yellow {
  color: #ffb902;
}

.text-purple {
  color: #d32d93;
}

.point-red {
  background-color: #f6393f;
}

.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #95c91e;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}

.content {
  width: auto;
  margin: 30px auto;
}
.content article {
  position: relative;
}
.content article > h3 {
  width: 20%;
  height: 25px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #FFFFFF;
  padding: 10px 0 20px 5px;

}
.content article section {
  padding: 0 0 17px;
  position: relative;
}
.content article section:before {
  content: "";
  width: 5px;
  top: 17px;
  bottom: -17px;
  left: 20%;
  background: #e6e6e6;
  position: absolute;
}
.content article section:last-child:before {
  display: none;
}
.content article section time {
  width: 15%;
  display: block;
  position: absolute;
  color: #FFFFFF;
}
.content article section time > span {
  display: block;
  text-align: right;
}
.content article section aside {
  color: #3a3a38;
  margin-left: 25%;
  padding-bottom: 15px;
}
.content article section .title {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
}
.content article section a {
  text-decoration:none;
  font-size: 17px;
}
.content article section .brief {

  margin-left: 10px;
  color: #FFFFFF;
}
.timelincontainer{
  margin: 10px;
}
.hold{
  height: 45px;
}
.footer{
  position: relative;
  margin: 10px;
}
#backtotop{
  text-decoration:none;
  color: #FFFFFF;
}
#loadmsg{
  position: relative;
  bottom: 50px;
}
#pulldown, #pullup {
  height:40px;
  line-height:40px;
  padding:5px 10px;
  font-weight:bold;
  font-size:14px;
  color:#888;
}

#pulldown .pulldown-icon, #pullup .pullup-icon  {
  display:block; float:left;
  width:40px; height:40px;
  background:url(images/pull-icon@2x.png) 0 0 no-repeat;
  -webkit-background-size:40px 80px; background-size:40px 80px;
  -webkit-transition-property:-webkit-transform;
  -webkit-transition-duration:250ms;  
}

#pulldown .pulldown-icon {
  -webkit-transform:rotate(0deg) translateZ(0);
}

#pullup .pullup-icon  {
  -webkit-transform:rotate(-180deg) translateZ(0);
}

#pulldown.flip .pulldown-icon {
  -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullup.flip .pullup-icon {
  -webkit-transform:rotate(0deg) translateZ(0);
}

#pulldown.loading .pulldown-icon, #pullup.loading .pullup-icon {
  background-position:0 100%;
  -webkit-transform:rotate(0deg) translateZ(0);
  -webkit-transition-duration:0ms;

  -webkit-animation-name:loading;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}



@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}